### TITANIC DATA

- WE HAVE TITANIC DATA FROM KAGGLE , DECIMALIZED & READY. WE ARE PREDICTING WHICH PASSENGER WILL SURVIVE ON THE SINKING SHIP
- RUN DIFFERENT AI'S ON IT
- I HAVE ANSWERS TO THE TEST SET IN DB AND CSV FILES

In [62]:
from sklearn.datasets import *
from sqlalchemy import create_engine
import numpy
import pandas
from pandas import *
import pandas.io.sql as psql
import csv
import datetime
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib
import psycopg2
import glob, os
from collections import OrderedDict
import shutil
import pdb
from pdb import set_trace as bp
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier 
from sklearn.linear_model import LogisticRegression

In [63]:
fp=r'/Users/Aseem/titanic/' #path will change

In [64]:
# CONNECTING TO DB
conn=psycopg2.connect(database="AI_DB_LOCAL",user="Aseem",host="localhost")
cur = conn.cursor()

### RF
 RF CANNOT TELL YOU WHY IT CAME TO A PREDICTION

In [65]:
#RANDOM FOREST
df_train=pandas.read_csv(fp+'Train_1.csv')
df_test=pandas.read_csv(fp+'Test_1.csv')
features=df_train.columns[1:-1] #taking specific columns for training.ignoring ID and class column 

clf = RandomForestClassifier(n_estimators=350,n_jobs=2, random_state=0)# Create a random forest Classifier. By convention, clf means 'Classifier'

clf.fit(df_train[features], df_train['survived']) #Training Random Forest . clf.fit(data,target)
rf_pred=clf.predict(df_test[features])
rf_prob=clf.predict_proba(df_test[features])
decision_path
df_test_prob=pandas.DataFrame(np.column_stack([[rf_prob[i,0] for i in range(len(rf_prob))],[rf_prob[i,1] for i in range(len(rf_prob))],rf_pred,df_test['passenger_id']]),columns=['rf_prob_c0','rf_prob_c1','rf_pred','passenger_id'])

engine = create_engine('postgresql+psycopg2://Aseem:@localhost/AI_DB_LOCAL')

df_test_prob.to_sql('titanic_rf_test_prob', engine,schema='titanic',if_exists='replace',index=False)

rf_analysis=psql.read_sql("""
    select count(*) as total_trans,sum(accuracy) sum_of_accuracy,round((sum(accuracy)::numeric/count(*))*100,2) as total_accuracy_perc
    from (
        select *, case when rf_pred=survived::int then 1 else 0 end as accuracy
        from(
            select a.*,b.survived 
            from titanic.titanic_rf_test_prob a
            left join titanic.test_answers b
            on a.passenger_id=b.passengerid::int
            )a
        )b;"""
           ,conn  )
conn.commit()

print('Random Forest Accuracy\n',rf_analysis)

Random Forest Accuracy
    total_trans  sum_of_accuracy  total_accuracy_perc
0          418              306                73.21

In [70]:
importances = clf.feature_importances_
importances
clf.decision_path(df_train[features])

(<891x114734 sparse matrix of type '<class 'numpy.int64'>'
 	with 3291891 stored elements in Compressed Sparse Row format>,
 array([     0,    301,    638,    965,   1276,   1607,   1930,   2291,
          2630,   2983,   3342,   3693,   4030,   4337,   4652,   5027,
          5364,   5683,   6020,   6327,   6656,   6957,   7322,   7655,
          7990,   8333,   8624,   8975,   9304,   9615,   9920,  10261,
         10602,  10935,  11250,  11563,  11920,  12265,  12570,  12967,
         13286,  13637,  13962,  14293,  14640,  14993,  15292,  15605,
         15932,  16267,  16620,  17029,  17350,  17677,  17990,  18321,
         18662,  18999,  19314,  19621,  19960,  20307,  20660,  21023,
         21362,  21679,  21988,  22337,  22632,  22933,  23276,  23617,
         23960,  24243,  24576,  24923,  25286,  25645,  25968,  26287,
         26606,  26913,  27258,  27603,  27894,  28195,  28538,  28865,
         29184,  29511,  29886,  30239,  30598,  30945,  31308,  31643,
         31988,  32317,  32648,  32983,  33342,  33645,  33960,  34317,
         34662,  34961,  35280,  35609,  35920,  36245,  36594,  36933,
         37240,  37557,  37868,  38195,  38514,  38833,  39160,  39503,
         39820,  40143,  40460,  40827,  41128,  41469,  41786,  42127,
         42442,  42775,  43092,  43425,  43768,  44093,  44396,  44709,
         45042,  45361,  45696,  46027,  46328,  46653,  46972,  47333,
         47682,  47979,  48292,  48611,  48962,  49289,  49588,  49913,
         50262,  50555,  50898,  51223,  51518,  51867,  52202,  52511,
         52822,  53129,  53440,  53749,  54056,  54385,  54682,  54995,
         55316,  55631,  55950,  56251,  56562,  56855,  57176,  57515,
         57876,  58203,  58526,  58849,  59194,  59517,  59866,  60185,
         60548,  60891,  61254,  61629,  61930,  62237,  62568,  62917,
         63218,  63545,  63874,  64199,  64532,  64889,  65166,  65499,
         65802,  66173,  66508,  66835,  67182,  67483,  67826,  68175,
         68530,  68845,  69188,  69505,  69832,  70141,  70434,  70763,
         71120,  71483,  71808,  72121,  72460,  72791,  73134,  73475,
         73800,  74119,  74468,  74803,  75120,  75415,  75758,  76043,
         76386,  76747,  77038,  77365,  77706,  78041,  78380,  78665,
         79012,  79327,  79674,  80007,  80338,  80665,  80998,  81329,
         81664,  82005,  82360,  82699,  83022,  83347,  83654,  83967,
         84330,  84703,  85018,  85335,  85642,  85963,  86294,  86589,
         86908,  87263,  87536,  87815,  88134,  88455,  88784,  89071,
         89394,  89717,  90044,  90409,  90772,  91129,  91450,  91781,
         92096,  92409,  92808,  93145,  93444,  93763,  94054,  94383,
         94734,  95087,  95400,  95735,  96084,  96423,  96746,  97085,
         97444,  97783,  98120,  98439,  98744,  99033,  99338,  99661,
         99962, 100275, 100592, 100911, 101204, 101559, 101892, 102209,
        102548, 102889, 103176, 103509, 103850, 104177, 104482, 104749,
        105070, 105375, 105662, 106031, 106364, 106715, 107024, 107401,
        107706, 108009, 108366, 108659, 109010, 109339, 109652, 109967,
        110278, 110595, 110916, 111223, 111516, 111831, 112146, 112477,
        112808, 113115, 113418, 113745, 114078, 114407, 114734]))

### NIV2

In [53]:
#NIV2  conf_thresh=[0.8]  accuracy= [76.5%] 

df_test_prob_NI=pandas.read_csv(fp+'Probability/Test_1_prob.csv')
df_test_prob2_NI=pandas.DataFrame(np.column_stack([df_test_prob_NI['passenger_id'],df_test_prob_NI['NFM_C0'],df_test_prob_NI['NFM_C1']])
                 ,columns=['passenger_id','nfm_c0','nfm_c1'])
df_test_prob2_NI.to_sql('titanic_niv2_test_prob', engine,schema='titanic',if_exists='replace',index=False)

niv2_analysis=psql.read_sql("""
    --NIV2
    select count(*) as total_trans,sum(accuracy) sum_of_accuracy,round((sum(accuracy)::numeric/count(*))*100,2) as total_accuracy_perc
    from (
        select *,case when pred_class=survived::int then 1 else 0 end as accuracy
        from(
            select a.*,b.survived ,case when a.nfm_c1>a.nfm_c0 then 1 when a.nfm_c0>a.nfm_c1 then 0 else -1 end as pred_class
            from titanic.titanic_niv2_test_prob a
            left join titanic.test_answers b
            on a.passenger_id=b.passengerid::int
            )a
            where pred_class>-1
        )b
        ;"""
         ,conn  )
conn.commit()

print('NIV2 Accuracy\n',niv2_analysis)

NIV2 Accuracy
    total_trans  sum_of_accuracy  total_accuracy_perc
0          417              319                 76.5